:root {
    --primary-text: #1b2632;
    --primary-header: #005784;
    --primary-back: #31a2f2;
    --primary-white: #ccccff;
    --secondary-header: #eb8931;
    --secondary-back: #f7e26b;
    --ancho-default: 720px;
}
body{
    background-color: var(--primary-white);
}
/*------------------------------------------------------------*/
/*-------------------------HEADER-----------------------------*/
/*------------------------------------------------------------*/
h1{
    align-self: center;
}
a, ul{
    text-decoration: none;
    list-style-type: none;
    color: var(--primary-white);
}
a:hover{
    color: var(--primary-white);
    text-decoration: underline;
}
header{
    background-color: var(--primary-header);
    color: var(--primary-white);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
ul{
    display: flex;
    justify-content: space-between;
    align-content: baseline;
    margin-bottom: 0%;
}
li{
    padding-right: 2rem;
}


/*------------------------------------------------------------*/
/*--------------------------ALTA------------------------------*/
/*------------------------------------------------------------*/
section{
    border-radius: 4px;
    border: 2px solid var(--primary-back);
    background-color: var(--primary-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 3px 3px 5px var(--primary-header);
    animation: fadeInHeader 0.6s ease 0s 1 forwards;
}
section h2{
    width: 100%;
    background-color: var(--primary-back);
    color: var(--primary-text);
    margin: auto;
    text-align: center;
}
form{
    margin: auto;
    animation: fadeInContainer 0.8s ease 0s 1 forwards;
}
form p{
    padding: 0;
    margin: 0;
}
input{
    width: 50vw;
}
#buttons{
    display: flex;
    justify-content: space-around;
    margin: auto;
}


/*------------------------------------------------------------*/
/*------------------------USUARIOS----------------------------*/
/*------------------------------------------------------------*/
#usuarios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeInContainer 0.8s ease 0s 1 forwards;
}
.unUsuario{
    margin: 1rem;
    width: 60vw;
    border: 2px solid var(--primary-back);
    border-radius: 4px;
    box-shadow: 3px 3px 5px var(--primary-header);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.unUsuario div{
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.unUsuario div p{
    margin: 0.5rem;
    top: 50%;
}

/*------------------------------------------------------------*/
/*-------------------------DSCARGAS---------------------------*/
/*------------------------------------------------------------*/
#searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
#searchbar input{
    margin: auto;
    border: 1px solid var(--primary-header);
    border-radius: 4px;

}

#headerRes{
    text-align: center;
    vertical-align: middle;
    background-color: var(--primary-back);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#headerRes p{
    margin: 0.5rem;
    top: 50%;
}


#resultados{
    border-radius: 4px;
    border: 2px solid var(--primary-back);
    animation: fadeInContainer 0.8s ease 0s 1 forwards;
}

.grid-container{
    background-color: var(--primary-back);
    box-sizing: border-box;
    text-align: center;
    display: grid;
    grid-template-columns:  auto auto auto auto auto;
    gap: 2px
}
.grid-item{
    background-color: var(--primary-white);
    box-sizing: border-box;
    top: 50%;
}
.grid-h{
    width: 100%;
    font-weight: bold;
    background-color: var(--primary-back);
}
.grid-item p{
    margin: 0.5rem;
    top: 50%;
}




/*------------------------------------------------------------*/
/*-----------------------ANIMACIONES--------------------------*/
/*------------------------------------------------------------*/

@keyframes fadeInContainer {
    0% {
        opacity: 0; transform: translatey(1em);
    }

    100% {
        opacity: 1; transform: translatey(0);
    }
}

@keyframes fadeInHeader {
    0%      { opacity: 0; }
    100%    { opacity: 1; }
}

@keyframes aparecer {
    0%      { opacity: 0; transform: translatey(1em); }
    100%    { opacity: 1; transform: translatey(0); }
}